.container{
    width: 100%;
    padding: 20px;
    background-color: #fff;
    /* border-radius: 30px;
    background: rgb(212, 223, 252); */
}
h3{
    color: #AF7272;
}
div img{
    max-width:100%;
}